@import "tailwindcss";

@theme {
  --font-display: "Onest", "sans-serif";
  --color-primary: #0378A6;
  --color-border: #25212633;
  --color-white-div: #F4F4F4;
  --color-paragraph: #525252;
}

body {
  font-family: var(--font-display);
}